{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página No Encontrada (404)</title>
    <style>
        body {
            text-align: center;
            padding-top: 50px;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>¡Ups! Página no encontrada (404)</h1>
<a href="https://www.gifsanimados.org/cat-bob-el-constructor-1003.htm"><img src="https://www.gifsanimados.org/data/media/1003/bob-el-constructor-imagen-animada-0042.gif" border="0" alt="bob-el-constructor-imagen-animada-0042" /></a>    <p>Lo sentimos, la página que buscas no existe o ha sido removida.</p>
    <a href="/">Volver al Inicio</a>
</body>
</html>
